* {
    box-sizing: border-box;
}
header {
    width:800px;
    text-align: center;
}
.header-menu {

    
}
.header-list{
    list-style-type: none;
    float: right;
    text-decoration: none;
}
 .header-item {
    display: inline;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 200; 
    padding: 5px; 
    text-align: justify;
}
button {
    background-color: #33A2D6 ;
}
.header-item  a{
    color: #33A2D6;
}
.list {

    text-align: inherit;
    list-style-type: none;
}
body {
    width:800px;
}
.list {
    margin-left: 0px;
}
.notelist {
    float: right;
}